<div class="empty">
  <h1>Welcome</h1>
  <p>
    This is a sample app to show how to use <%= link_to content_tag("code", "authy-devise"), "https://github.com/authy/authy-devise/" %>
  </p>
  <div class="empty-icon">
    <i class="icon icon-people icon-3x"></i>
  </div>
  <p class="empty-title h5">You're not signed in</p>
  <p class="empty-subtitle">Click below to sign up or sign in</p>
  <div class="empty-action">
    <%= link_to "Sign up", "#", class: "btn" %>
    <%= link_to "Sign in", "#", class: "btn" %>
  </div>
</div>

<section class="columns">
  <div class="column col-8 col-md-12 col-mx-auto">
    <div class="card">
      <div class="card-header">
        <h2>How to build this app</h2>
        <p class="card-subtitle text-gray">Some more details</p>
      </div>
      <div class="card-body">
        <p>Add some information here about using <code>authy-devise</code>, building and running this app.</p>
      </div>
    </div>
  </div>
</section>