<div class="empty">
  <h1>Welcome</h1>
  <p>
    This is a sample app to show how to use <%= link_to content_tag("code", "authy-devise"), "https://github.com/authy/authy-devise/" %>
  </p>
  <div class="empty-icon">
    <%= image_tag gravatar_url(current_user.email, 64), width: 64, height: 64, class: "avatar avatar-xl" %>
  </div>
  <p class="empty-title h5">You are logged in as <%= current_user.email %></p>
</div>